[Unit]
Description=Asterisk PBX and telephony daemon.
After=network.target
Wants=systemd-modules-load.service

[Service]
Type=simple
Environment=HOME=/var/lib/asterisk
Environment=PATH=/opt/rh/rh-php56/root/usr/bin:/opt/rh/rh-php56/root/usr/sbin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=LD_LIBRARY_PATH=/opt/rh/rh-php56/root/usr/lib64
WorkingDirectory=/var/lib/asterisk
RuntimeDirectory=asterisk
RuntimeDirectoryMode=0775
User=asterisk
Group=asterisk
ExecStart=/usr/sbin/asterisk -f -C /etc/asterisk/asterisk.conf
ExecStartPost=/bin/bash -c "while ! /usr/sbin/asterisk -rx 'core show version' &>/dev/null; do sleep 1; done"
ExecStartPost=/bin/bash -c "while [[ $$(/usr/sbin/asterisk -rx 'core show version') != Asterisk* ]]; do sleep 1; done"
ExecStop=/usr/sbin/asterisk -rx 'core stop now'
ExecReload=/usr/sbin/asterisk -rx 'core reload'

# To emulate some of the features of the safe_asterisk script, copy
# this file to /etc/systemd/system/asterisk.service and uncomment one
# or more of the following lines.  For more information on what these
# parameters mean see:
#
# http://0pointer.de/public/systemd-man/systemd.service.html
# http://0pointer.de/public/systemd-man/systemd.exec.html

#Nice=0
#UMask=0002
#LimitCORE=infinity
#LimitNOFILE=

Restart=on-failure
RestartSec=4

StandardOutput=null

PrivateTmp=true

[Install]
WantedBy=multi-user.target
